<div class="w-full py-6">
  <h1 class="font-bold text-6xl text-center py-8 blue-orange">FAQs</h1>

  <% if current_user.present? && current_user.is_admin %>
    <%= link_to 'Add FAQ', new_faq_path, class: "text-sm mx-auto w-fit block px-4 py-2 my-6 text-white rounded hover:bg-orange-400 bg-sky-500" %>
  <% end %>

  <div id="faqs" class="container max-w-[1020px] mx-auto">
    <%= render @faqs %>
  </div>
</div>
