<div class="w-full h-96 bg-indigo-200">
</div>

<div class="bg-orange-100">
  <div class="md:container py-10 md:px-10 mx-auto">
    <div class="text-center">
      <div class="text-6xl font-bold pt-10 blue-orange">About Us</div>
      <blockquote class="flex justify-center text-xl italic font-semibold text-gray-500 p-6">
        <%= icon('fa-solid', 'quote-left', class: 'w-5 h-5 text-lg', 'aria-hidden': 'true', viewBox: '0 0 24 24') %>
        <p>Global Aircon is a best company, authenticated and registered from Malaysian Government.</p>
        <%= icon('fa-solid', 'quote-right', class: 'w-5 h-5 text-lg', 'aria-hidden': 'true', viewBox: '0 0 24 24') %>
      </blockquote>
      <div>We are getting excellent feedback from our clients from 5 years. That's a bigger acheivement for us.</div>
    </div>
    <div class="w-full md:flex pt-10 md:h-96">
      <div class="w-1/2 px-10 my-auto">
        <span class="text-3xl font-semibold blue-orange">Global Aircond</span> hired professional, skilled and experienced workers for you.
        They know all about aircon services and repair options. They will serve your
        aircons and repair them with their excited experience. We have trained our team
        how to talk with disciplanory manner to customers. You will find our team behavior
        very polite and humble. We had started our work from some places in Kaula Lumpur,
        Malaysia. But, now a days, we have expand our work to all around Kaula Lumpur, Malaysia.
      </div>
      <div></div>
    </div>
  </div>
</div>
